/*
    Folha de estilo para site pessoal
    Desenvolvedor: Júnior Gonçalves
    Data: 05/01/2022
*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
header {
    height: 130px;
    background-color: #fff;
}
#topo {
    padding-top: 45px;
    width: 1000px;
    margin: 0 auto;
}
.logo {
    float: left;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a {
    color: #666;
    font-size: 1.5em;
	text-align: right;
    text-transform: uppercase;
	text-decoration: none;
	width: 150px;
	display: block;
	padding: 10px 0;
}
nav ul li a:hover {
    text-shadow: 1px 1px 5px #ccc;
}
#perfil {
    background-color: #1d6f6b;
    height: 475px;
}
.sobre {
    width: 1000px;
    margin: 0 auto;
}
.texto {
    width: 460px;
    float: left;
    color: #fff;
}
h1 {
    font-family: 'Kaushan Script';
    font-size: 5em;
    padding-top: 80px;
    letter-spacing: 3px;
}
h2 {
    font-weight: 400;
    font-size: 1.7em;
    line-height: 1.7em;
    margin: 30px 0;
}
.icons img {
    margin: 0 5px;
}
.foto {
    float: right;
}
.foto img {
    border-radius: 50%;
    margin: 60px 0;
}
#destaques {
    clear: both;
    background-color: #ccd3db;
    height: 440px;
    padding: 40px 0 25px;
}
.colunas {
    width: 1100px;
    margin: 0 auto;
}
.coluna {
    width: 320px;
    padding: 13px;
    float: left;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    margin: 40px 10px;
}
.legenda {
    text-transform: uppercase;
	font-weight: 700;
	font-size: 1.4em;
	color: #333333;
    margin: 10px 0;
}
#principal {
    background-color: #1d6f6b;
}
.conteudo {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}
.galeria { 
    padding: 3px; 
    background-color: #fff;
    border-radius: 15px;
    margin: 12px;
}
h3 {
    font-size: 2em;
    color: #fff;
    margin: 1px 20px 25px;
    font-style: italic;
}
article {
    width: 70%;
    float: left;
}
article h3 {
    margin: 40px 0 20px 0;
}
article p {
    color: #fff;
    font-size: 1.5em;
    text-indent: 50px;
    line-height: 1.5em; 
}
aside {
    width: 25%;
    float: right;
}
aside h3 {
    margin: 40px 0 20px 0;
}
details {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 15px;
}
#rodape {
    color: #fff;
    background-color: #333;
    padding: 40px 0 30px;
}
#rodape p {
    text-align: center;
    font-size:1.4em;
    font-family: Arial, Helvetica, sans-serif;
}